services:
  web:
    build: .
    expose:
      - 8080
    restart: "unless-stopped"
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /home/mambauser/prod
    user: "57439:57439"
    volumes:
      - user_uploads:/home/mambauser/prod/user_uploads:z
      - static_volume:/home/mambauser/prod/staticfiles:z
    environment:
      - NPM_BIN_PATH=/home/mambauser/.nvm/versions/node/v22.19.0/bin/npm
    depends_on:
      - db
  
  db:
    image: postgres:17.6
    restart: "unless-stopped"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=ligand_user
      - POSTGRES_PASSWORD=ligand_passwd
      - POSTGRES_DB=ligand_db

  huey:
    build: .
    command: micromamba run python manage.py run_huey
    restart: "unless-stopped"
    deploy:
      replicas: 2
    develop:
      watch:
        - action: sync+restart
          path: ./ligand_service/tasks.py
          target: /home/mambauser/prod/ligand_service/tasks.py
    user: "57439:57439"
    volumes:
      - user_uploads:/home/mambauser/prod/user_uploads:z
    depends_on:
      - redis

  redis:
      image: "redis:alpine"
      restart: "unless-stopped"
      ports:
        - '6379:6379'
  
  nginx:
    build: ./nginx
    ports:
      - 8000:80
    volumes:
      - user_uploads:/user_uploads:z
      - static_volume:/static:z
    depends_on:
      - web
    restart: "unless-stopped"
    develop:
      watch:
        - action: sync+restart
          path: ./nginx/nginx.conf
          target: /etc/nginx/conf.d/nginx.conf

volumes:
  postgres_data:
  user_uploads:
  static_volume:
