{% extends 'base.html' %}

{% block content %}

<h4 class="mt-4 text-xl">
    Job ID: {{ job_id }}
</h4>
<p class="text-2xl mt-4">
Status: Complete!
</p>

<h4 class="text-2xl mt-4">
    Group data:
    {{ group_data.status }}
</h4>

<h4 class="text-2xl mt-4">
    Run details:
</h4>

<div id="details" class="text-lg">
    {% for run in runs_data %}
    <div class="flex-col items-center justify-center content-center">
	<p class="text-xl">
	Run {{ run.id }}:
	</p>
	{{ name_VOI|default:"Value" }}: {{ run.value }} <br>
	Contacts by frame (notice that we provide better numbering than GPCRdb, not sure if it is correct though...):
	<div class=""> 
	    {{ run.table|safe }}
	</div>
	Interactions by frame: 
	<div> 
	    {{ run.interaction_graph|safe }}
	</div>
    </div>
    {% endfor %}
</div>

{% endblock %}
