{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block extra_headers %}
<script src="{% static 'ligand_service/dashboard.js' %}"> </script>
<script src="{% static 'resumable.js' %}"> </script>
{% endblock %}

{% block content %}
<details open class="my-4 text-l rounded-lg border p-2 bg-gray-300 cursor-pointer">
    <summary class="text-2xl">How to use CORAL-MD?</summary>
	This tool processes molecular dynamics (MD) trajectories to examine how ligands interact with their protein targets. It identifies and characterizes interaction types such as hydrogen bonds, hydrophobic contacts, and aromatic stacking, and presents the results through time-resolved visualizations. Users can also choose to provide experimental data, allowing direct comparison between simulation outcomes and measured values. An example of the tool in action can be seen using <a href="/example-submission" class="text-blue-700 underline-offset-2 underline">this link</a>.
	<br>
	<br>
	For technical details, go to the About section.
    </p>
</details>

<div class="border rounded-lg p-2 min-w-0">
    <div class="mb-4 text-xl border-b -m-2 rounded-t-lg p-2 bg-gray-300 flex flex-nowrap items-center">
	<p class="text-2xl ml-2">Upload your simulations:</p>
	<select name="SimulationType" id="inputTypeSelect" class="ml-auto bg-gray-400/60 border rounded-lg p-2 m-2 cursor-pointer">
	    <option value="topTrj">Topology/Trajectory files</option>
	    <option value="maestroDir">Maestro directory</option>
	</select>
	<div class="border flex flex-nowrap justify-end rounded-lg">
	    <span id="browseButton" class="rounded-l-lg cursor-pointer bg-slate-500/60 border-r p-2">Browse...</span>
	    <span id="filesInfo" class="bg-gray-400/60 p-2 w-80">Select directory...</span>
	    <span id="confirmButton" class="cursor-pointer bg-slate-500/60 p-2 rounded-r-lg border-l">Confirm</span>
	</div>
	<p id="uploadStatus" class="invisible cursor-pointer bg-amber-500 p-2">0</p>
    </div>
    {% for dir in user_dirs %}
    {{ dir }}
    {% empty %}
    <div id="noSimulationsBanner" class="text-lg m-2">
	No simulations uploaded.
    </div>
    {% endfor %}
    <div id="simulationUploadTemplate" class="hidden">
    </div>
</div>
<p class="mt-2 text-xl">Please cite as...(TBD)</p>

<button class="text-xl border rounded-lg p-2 bg-red-400 hover:bg-red-200 mt-1 hover:cursor-pointer" onclick="downloadLogs(event, 'webserver.log')">
    Download webserver logs
</button>
<button class="text-xl border rounded-lg p-2 bg-red-400 hover:bg-red-200 mt-1 hover:cursor-pointer" onclick="downloadLogs(event, 'huey.log')">
    Download huey logs
</button>
<button class="text-xl border rounded-lg p-2 bg-red-400 hover:bg-red-200 mt-1 hover:cursor-pointer" onclick="downloadLogs(event, 'huey_cli.log')">
    Download huey cli logs
</button>
{% endblock %}
