{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block content %}

<h4 class="mt-4 text-xl">
Job ID: {{ job_id }}
</h4>
<p class="text-2xl mt-4">
Status: {{ status }}
</p>

{% if status == "Success" %}
<h4 class="text-2xl mt-4">
    Run details:
</h4>

<div id="details" class="text-lg">
    {% for id, value, table in data %}
    <p class="text-xl">
    Run {{ id }}:
    </p>
    {{ name_VOI|default:"Value" }}: {{ value }}
    Contacts by frame:
    <div class="border overflow-auto w-fit max-h-80"> 
	{% render_table table %}
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
