{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block extra_headers %}
<script src="{% static 'submit/reactive.js' %}"> </script>
{% endblock %}

{% block content %}
<h4 class="my-4 text-xl">
Please submit your data below:
</h4>
<form id="input-form" action="/submit/form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
    {{ form }}
    {% endfor %}
    <div id="add-more-btn" class="border rounded-lg w-fit h-fit my-2 bg-gray-300">
	<button type="button" onclick="addFiles()" class="m-1 p-2 cursor-pointer">Add additional files</button>
    </div>
    <button type="submit" class="bg-green-300 border rounded-lg p-2 cursor-pointer">Submit</button>
    <p class="mt-4 mb-2">
    Additional options:
    </p>
    <div class="flex flex-wrap items-stretch"> 
	<label class="border rounded-lg p-2 m-1 items-center">
	    Email when finished:
	    {% render_field details_form.email class="bg-gray-300 border rounded-sm" %}
	</label>
	<label class="border rounded-lg p-2 m-1 items-center">
	    Specify value name:
	    {% render_field details_form.name_VOI class="bg-gray-300 border rounded-sm px-2" placeholder="Enter name (optional)"%}
	</label>
	<label class="p-2 rounded-lg border bg-gray-300 cursor-pointer m-1 items-center">
	    Compare by residue number
	    {% render_field details_form.use_common_numbering class="text-xl" %}
	</label>
    </div>
    <p class="my-2">
    NOTE: By default, to compare different receptors/structures we use GPCRdb's numbering. 
    </p>
    <div id="file-input-template" class="hidden">
	{{ formset.empty_form}}
    </div>
</form>
<details open class="mt-4 text-xl rounded-lg border-dotted border p-2 bg-gray-300 cursor-pointer">
    <summary>How it works?</summary>
    <p class="font-medium text-sm">
    Tool works by comparing interaction patterns between supplied simulations, trying to find which interactions correlate most with change in value e.g. residence time. TODO: Writing is difficult.
    </p>
</details>
<p class="mt-2 text-xl">Please cite as...(TBD)</p>
<p class="mt-2 text-xl">Some info about citing GPCRdb, GetContacts, NCBI's BLAST?</p>
{% endblock %}
